@import "tailwindcss";

@theme {
    --spacing-2xs: 4px;
    --spacing-xs: 8px;
    --spacing-sm: 12px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 28px;
    --spacing-2xl: 32px;
    --spacing-3xl: 36px;
    --spacing-4xl: 48px;
    --spacing-5xl: 60px;
    --spacing-6xl: 80px;
  }
