@import 'tailwindcss';

@utility font-style-title {
  font-size: var(--text-5xl);
  line-height: var(--leading-3xl);
  letter-spacing: var(--tracking-expanded);
  font-weight: var(--font-weight-semibold);
  word-break: keep-all;

  @media (max-width: 768px) {
    font-size: var(--text-2xl);
    line-height: var(--leading-3xl);
    letter-spacing: var(--tracking-expanded);
    font-weight: var(--font-weight-semibold);
  }
}

@utility font-style-heading {
  font-size: var(--text-2xl);
  line-height: var(--leading-3xl);
  letter-spacing: var(--tracking-tight);
  font-weight: var(--font-weight-semibold);
  word-break: keep-all;

  @media (max-width: 768px) {
    font-size: var(--text-xl);
    line-height: var(--leading-3xl);
    letter-spacing: var(--tracking-tight);
    font-weight: var(--font-weight-semibold);
  }
}

@utility font-style-subHeading {
  font-size: var(--text-xl);
  line-height: var(--leading-2xl);
  letter-spacing: var(--tracking-tight);
  font-weight: var(--font-weight-semibold);
  word-break: keep-all;

  @media (max-width: 768px) {
    font-size: var(--text-lg);
    line-height: var(--leading-2xl);
    letter-spacing: var(--tracking-tight);
    font-weight: var(--font-weight-semibold);
  }
}

@utility font-style-paragraph {
  font-size: var(--text-base);
  line-height: var(--leading-lg);
  letter-spacing: var(--tracking-tighter);
  font-weight: var(--font-weight-normal);
  word-break: keep-all;

  @media (max-width: 768px) {
    font-size: var(--text-sm);
    line-height: var(--leading-lg);
    letter-spacing: var(--tracking-tighter);
    font-weight: var(--font-weight-normal);
  }
}

@utility font-style-info {
  font-size: var(--text-sm);
  line-height: var(--leading-lg);
  letter-spacing: var(--tracking-tighter);
  font-weight: var(--font-weight-normal);
  word-break: keep-all;

  @media (max-width: 768px) {
    font-size: var(--text-xs);
    line-height: var(--leading-lg);
    letter-spacing: var(--tracking-tighter);
    font-weight: var(--font-weight-normal);
  }
}

@utility ellipsis-row-1 {
  overflow: hidden;
  text-overflow: ellipsis;
}

@utility ellipsis-row-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
