@import "tailwindcss";

@layer components {
    .font-style-title {
        font-size:  40px;
        line-height: 36px;
        letter-spacing: 1.5px;
        font-weight: 600;
    }
    
    .font-style-heading {
        font-size:  24px;
        line-height: 36px;
        letter-spacing: -0.2px;
        font-weight: 600;
    }
    
    .font-style-subHeading {
        font-size:  20px;
        line-height: 32px;
        letter-spacing: -0.2px;
        font-weight: 600;
    }
    
    .font-style-paragraph {
        font-size:  16px;
        line-height: 24px;
        letter-spacing: -0.4px;
        font-weight: 400;
    }
    
    .font-style-info {
        font-size:  14px;
        line-height: 24px;
        letter-spacing: -0.4px;
        font-weight: 400;
    }

    @media (max-width: 768px) {
        .font-style-title {
            font-size: 24px;
            line-height: 36px;
            letter-spacing: -0.2px;
            font-weight: 600;
        }
        
        .font-style-heading {
            font-size: 20px;
            line-height: 32px;
            letter-spacing: -0.2px;
            font-weight: 600;
        }
        
        .font-style-subHeading {
            font-size: 20px;
            line-height: 32px;
            letter-spacing: -0.2px;
            font-weight: 600;
        }
        
        .font-style-paragraph {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.4px;
            font-weight: 400;
        }
        
        .font-style-info {
            font-size: 14px;
            line-height: 24px;
            letter-spacing: -0.4px;
            font-weight: 400;
        }
        
    }
}
