@import "tailwindcss";
@import "../styles/token/colors/primitive.css";
@import "../styles/token/colors/scale.css";
@import "../styles/token/colors/semantic.css";
@import "../styles/token/border.css";
@import "../styles/token/spacing.css";
@import "../styles/fonts.css";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border-primary, currentColor);
  }
}
@theme {
  --font-pretendard: var(--font-pretendard);
}

:root {
  --background: var(--color-base-white);
  --foreground: var(--color-neutral-900);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-neutral-950);
    --foreground: var(--color-neutral-200);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
