@import 'tailwindcss';
@import '../styles/token/colors/primitive.css';
@import '../styles/token/colors/scale.css';
@import '../styles/token/colors/semantic.css';
@import '../styles/token/border.css';
@import '../styles/token/spacing.css';
@import '../styles/fonts.css';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border-primary, currentColor);
  }
}

@utility bg-custom-gradient {
  background: linear-gradient(180deg, #fff 17.28%, #d4d4d4 495.36%);
}

@theme {
  --font-pretendard: var(--font-pretendard);

  --shadow-custom-effect:
    0px 4px 8px 0px var(--color-shadow-cast),
    0px 0px 4px 0px var(--color-shadow-core);
}

:root {
  --background: var(--color-base-white);
  --foreground: var(--color-neutral-900);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-neutral-950);
    --foreground: var(--color-neutral-200);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

strong {
  font-weight: var(--font-weight-medium);
}
